
#extras-div-one {
    
    transform: translate(-50%, -200%);
    transition-duration: 1s;
    
    visibility: hidden;

    & .input-extras {
        width: 100%;
        height: calc(100% / 3);
    
        border: none;
        font-size: 36px;
    
        background-color: rgb(255, 85, 0);
    }
}

#extras-div-two {
    
    transform: translate(-50%, -200%);
    transition-duration: 1s;
    
    visibility: hidden;

    & .input-extras {
        width: 100%;
        height: calc(100% / 4);
    
        border: none;
        font-size: 36px;
    
        background-color: rgb(255, 85, 0);
    }
}

#extras-div-three {
    
    transform: translate(-50%, -200%);
    transition-duration: 1s;
    
    visibility: hidden;

    & .input-extras {
        width: 100%;
        height: calc(100% / 5);
    
        border: none;
        font-size: 36px;
    
        background-color: rgb(255, 85, 0);
    }
}

#extras-div-four {
    
    transform: translate(-50%, -200%);
    transition-duration: 1s;
    
    visibility: hidden;

    & .input-extras {
        width: 100%;
        height: calc(100% / 6);
    
        border: none;
        font-size: 36px;
    
        background-color: rgb(255, 85, 0);
    }
}

#extras-div-five {
    
    transform: translate(-50%, -200%);
    transition-duration: 1s;
    
    visibility: hidden;

    & .input-extras {
        width: 100%;
        height: calc(100% / 7);
    
        border: none;
        font-size: 36px;
    
        background-color: rgb(255, 85, 0);
    }
}