body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom right, red, yellow);
}

#back-home-button {
    all: unset;
    position: absolute;
    top: 25px;
    left: 25px;
    height: 100px;
    width: 20px;
    overflow: hidden;
    background-color: rgb(54, 54, 54);
    color: rgb(54, 54, 54);
    border-radius: 24px;
    cursor: pointer;
}

#back-home-button:hover {
    all: unset;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 24px;
    top: 25px;
    left: 25px;
    height: 100px;
    width: 200px;
    background-color: rgb(54, 54, 54);
    color: white;
    cursor: pointer;
}

#main_div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 25px;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

#calculator_holder {
    outline: none;
    border-radius: 30px;
    width: 500px;
    height: 700px;
    border-radius: 50px;
    overflow: hidden;
    background-color: rgb(64, 64, 64);
}

.cached-item {
    font-size: 48px;
    color: white;
    list-style: circle;
}

#answer_cache {
    outline: none;
    border-radius: 30px;
    width: 500px;
    height: 700px;
    border-radius: 50px;
    overflow: hidden;
    background-color: rgb(64, 64, 64);
    overflow: scroll;
}

#cache-ul {
    margin-left: 24px;
}

#display {
    width: 500px;
    height: 100px;
    background-color: hsl(0, 0%, 30%);
    border: none;
    color: white;
    font-size: 30px;
}

#opporator {
    background-color: rgb(255, 158, 54);
}

#opporator:hover {
    background-color: hsl(31, 100%, 81%);
}

#opporator:active {
    background-color: hsl(31, 100%, 91%);
}

button {
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50px;
    background-color: rgb(91, 91, 91);
    color: white;
    font-size: 48px;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 56%);
}


button:active {
    background-color: hsl(0, 0%, 66%);
}

.cache-clear {
    border-radius: 0px;
    width: 500px;
    height: 100px;
    background-color: hsl(0, 0%, 30%);
    border: none;
    color: white;
    font-size: 30px;
}