#extras-div-one {
    
    transform: translate(-50%, -200%);
    transition-duration: 1s;
    
    visibility: hidden;

    & .input-extras {
        width: 100%;
        height: calc(100% / 4);
    
        border: none;
        font-size: 30px;
    
        background-color: rgb(255, 85, 0);
        color: white;
    }

    & ::placeholder {
        color: wheat;
    }    

    & .extra-data-div {
        background: whitesmoke;

        border-radius: 10px;

        width: 100%;
        height: calc(100% - ((100% / 4) + 15%));

        margin-top: calc(20%);

        font-size: 18px;

        * {
            padding: 10px;
        }
    }
}

#extras-div-two {
    
    transform: translate(-50%, -200%);
    transition-duration: 1s;
    
    visibility: hidden;

    & .input-extras {
        width: 100%;
        height: calc(100% / 7);
    
        border: none;
        font-size: 20px;
    
        background-color: rgb(255, 85, 0);
        color: white;
    }

    & ::placeholder {
        color: wheat;
    }
}

#extras-div-three {
    
    transform: translate(-50%, -200%);
    transition-duration: 1s;
    
    visibility: hidden;

    & .input-extras {
        width: 100%;
        height: calc(100% / 4);
    
        border: none;
        font-size: 20px;
    
        background-color: rgb(255, 85, 0);
        color: white;
    }

    & ::placeholder {
        color: wheat;
    }

    & .code-result-box {
        float: right;
    
        background-color: rgba(5, 5, 23, 0.8);
        color: white;
        font-size: 12px;

        width: 100%;
        height: calc(100% - 20%);
    
        overflow-x: scroll;
    
        border-radius: 10px;
        outline: none;
        border: none;

        & {
            padding: 10px;
        }
    }
}