#extras-div-one {
    
    transform: translate(-50%, -200%);
    transition-duration: 1s;
    
    visibility: hidden;

    & .input-extras {
        width: 100%;
        height: calc(100% / 4);
    
        border: none;
        font-size: 30px;
    
        background-color: rgb(255, 85, 0);
        color: white;
    }

    & ::placeholder {
        color: wheat;
    }    

    & .extra-data-div {
        background: whitesmoke;

        border-radius: 10px;

        width: 100%;
        height: calc(100% - ((100% / 4) + 15%));

        margin-top: calc(20%);

        * {
            padding: 10px;
        }
    }
}

#extras-div-two {
    
    transform: translate(-50%, -200%);
    transition-duration: 1s;
    
    visibility: hidden;

    & .input-extras {
        width: 100%;
        height: calc(100% / 7);
    
        border: none;
        font-size: 30px;
    
        background-color: rgb(255, 85, 0);
    }

    & ::placeholder {
        color: wheat;
    }
}