body {
    background-color: rgba(99, 216, 206, 0.617);
}

#submit_button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 250px;
}

#submit_button:hover {
    background-color: #245025;
}

.input_box {
    border: gray;
    outline: none;
    border-radius: 10px;
    text-align: center;
    height: 20px;
    width: 300px;
}

.input_box:focus {
    border: 3px solid rgb(133, 133, 133);
    width: 100px;
}

.calculator_div {
    border: solid #04AA6D 2px; 
    margin: 10px;
    text-align: center;
    border-radius: 25px;
    height: 440px;
    width: 350px
}

#big_calc_div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 25px;
}