body {
    background-color: rgba(99, 216, 206, 0.617);;
}



.calculator-holder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    position: initial;
}

.button-holder {
    margin-top: auto;
    margin-bottom: 5%;

    outline: auto;

    width: 90%;
    height: 20%;

    outline: none;
}

#answer {
    width: 99%;
    height: 5vh;

    font-size: 24px;
    text-align: center;

    border-radius: 20px;
    border: none;
}

#text-div {
    position: absolute;
    text-align: center;

    & input {
        width: 90%;

        border: none;
        border-radius: 10px;

        text-align: center;

    }
}

.extra-divs {
    background-color: rgb(255, 106, 0);
    border-radius: 10px;

    height: 78%;
    width: 78%;

    top: 50%;
    left: 50%;

    position: fixed;
    
    z-index: 4;
}

#inner-holder {
    width: calc(100% - 20px);
    height: calc(100% - 30px);

    margin: 10px;

    .left-column {   
        float: left;

        width: 40%;
        height: 100%;
    }
      
    /* Right column */
    .right-column {
        float: right;

        width: 57%;
        height: 100%;
    }
}

#calculator {
    border: solid #04AA6D 2px; 
    margin: 10px;
    text-align: center;
    border-radius: 25px;
    height: 50vh;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
}

.calculator-button {
    width: 50%;
    height: 100%;

    border: none;
    background-color: rgb(10, 228, 61);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;

    transition-duration: .2s;

    &:hover {
        background-color: rgb(10, 190, 61);
        transition-duration: .2s;

        cursor: pointer;
    }

    &:active {
        background-color: rgb(10, 150, 81);
        transition-duration: .2s;
    }

}

.submit-button {
    float: left;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    border-right: solid green 2px;
}

.expand-button {
    float: right;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}




.code-result-box {
    float: right;

    width: 100%;
    height: 20%;

    background-color: rgba(5, 5, 23, 0.8);
    color: white;
    font-size: 24px;

    overflow-x: scroll;

    border-radius: 10px;
    outline: none;
    border: none;
}

#extra-submit-box {
    width: 28%;
    height: 15%;

}

.extra-submit-button {
    position: fixed;

    bottom: 10px;
    margin-top: auto;

    right: 10px;

    background-color: rgb(199, 185, 30);

    border: none;
    border-radius: 20px;

    font-size: 48px;

    transition-duration: .2s;

    &:hover {
        cursor: pointer;
        background-color: rgb(168, 156, 25);

        transition-duration: .2s;
    }

    &:active {
        background-color: rgb(124, 116, 19);
    }
}

.extra-close-button {
    background-color: rgb(199, 185, 30);

    border: none;
    border-radius: 20px;

    font-size: 48px;

    position: fixed;

    margin-top: auto;

    bottom: 10px;
    right: calc(20px + 28%);
    
    transition-duration: .2s;

    &:hover {
        cursor: pointer;
        background-color: rgb(168, 156, 25);

        transition-duration: .2s;
    }

    &:active {
        background-color: rgb(124, 116, 19);
    }
}